@import url('https://fonts.googleapis.com/css2?family=Archivo:wdth,wght@125,400;125,500;125,600;125,700;125,800;125,900&family=Montserrat:wght@400;500;600;700;800;900&family=Noto+Sans+Mono:wght@300;400;500&display=swap');

/* https://fonts.google.com/share?selection.family=Archivo:wdth,wght@125,400;125,500;125,600;125,700;125,800;125,900|Montserrat:wght@400;500;600;700;800;900|Noto+Sans+Mono:wght@300;400;500 */

:root {
    /* Colors */
    --brand-color: #5865F2;
    
    /* Alert Box borders */
    --note-border-color: #5865F2;
    --info-border-color: #FEE75C;
    --warn-border-color: #ED4245;

    /* Fonts */
        /* 400, 600, 700, 800, 900 */
    --font-head: 'Archivo', sans-serif;
        /* 400, 500, 600, 700, 800, 900 */
    --font-normal: 'Montserrat', sans-serif;
        /* 300, 400, 500 */
    --font-code: 'Noto Sans Mono', monospace;

    /* Page margin */
    --page-margin: 5rem;
    
    /* Variables */
    --element-padding: 0.5rem;
    --element-border-radius: 0.5rem;
    --sidebar-width: 333px;
    --footer-height: 70px;
}

.light {
    /* Colors */
    --main-background: #FFFFFF;
    --alternative-background: #EDEDF7;
    --link-color: #1527EF;
    --note-background: #5865F233;
    --info-background: #FEE75C33;
    --warn-background: #ED424533;
    --blockquote-color: #595959;
    --blockquote-color-l: #59595933;

    /* Font colors */
    --alert-box-color: #171717;
    --text-primary: #212123;
    --text-muted: #4F5763;
    --text-muted-t: #4F57634D;
    --text-contrast: #FFFFFF;

    /* Tables */
    --table-header-background: #F2F3F5;
    --table-border-color: #B7BCC8;
    --table-even-background: #F2F3F5E6;
    --table-odd-background: #F2F3F599;

    /* Highlight Colors */
    --prism-background: #EDEDF7;
    --prism-color: #030303;
    --prism-comment: #29003D; /* Dark Purple */
    --prism-keyword: #DB0000; /* Red */
    --prism-function: #7033FF; /* Blue */
    --prism-string: #007A25; /* Green */
    --prism-attribute: #C73200; /* Brown */
    --prism-variable: #8B02A7; /* Purple */
}

.dark {
    /* Colors */
    --main-background: #36393f;
    --alternative-background: #303236;
    --link-color: #C2C8F9;
    --note-background: #5865F24D;
    --info-background: #FEE75C26;
    --warn-background: #ED42454D;
    --blockquote-color: #CCCCCC;
    --blockquote-color-l: #CCCCCC33;

    /* Font colors */
    --alert-box-color: #FFFFFF;
    --text-primary: #FFFFFF;
    --text-muted: #C8CBD0;
    --text-muted-t: #C8CBD04D;
    --text-contrast: #FFFFFF;

    /* Tables */
    --table-header-background: #303236;
    --table-border-color: #757D8A;
    --table-even-background: #303236E6;
    --table-odd-background: #30323699;

    /* Highlight Colors */
    --prism-background: #303236;
    --prism-color: #E6E6E6;
    --prism-comment: #DCD1E1; /* Light Purple */
    --prism-keyword: #FFADAD; /* Light Red */
    --prism-function: #B8BAFF; /* Blue */
    --prism-string: #1AFF66; /* Green */
    --prism-attribute: #FDB058; /* Orange */
    --prism-variable: #E7B3FF; /* Purple */
}

@media (max-width: 800px) {
    :root {
        --page-margin: 3rem;
    }
}
