.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Sidebar */

.sidebartoggle {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 10px;
    left: calc(var(--sidebar-width) + 10px);
    background: var(--sidebar-background);
    width: 30px;
    height: 30px;
    border-radius: 5px;
    cursor: pointer;
    transition: left 0.2s ease-in-out;
}

.sidebartoggle span {
    color: var(--text-muted);
    font-size: 0.9rem;
    transition: color 0.2s ease-in-out;
}

.sidebartoggle:hover > span {
    color: var(--text-normal);
}

html.sidebar-hidden .sidebartoggle {
    left: 10px;
}

.sidebar {
    display: flex;
    flex-direction: column;
    width: var(--sidebar-width);
    height: 100vh;
    position: fixed;
    left: 0;
    background: var(--sidebar-background);
    transition: left 0.2s ease-in-out;
}

html.sidebar-hidden .sidebar {
    display: flex !important;
    left: calc(var(--sidebar-width) * -1);
}

.sidebar .header a {
    display: flex;
    align-items: center;
    padding: 0 0 0 15px;
    cursor: pointer;
    font-family: var(--font-ginto-nord-variation-1);
    font-weight: 900;
    font-size: 0.87rem;
}

.sidebar .header {
    display: flex;
    align-items: center;
    padding-top: calc(var(--header-height) / 2 - 25px);
    padding-bottom: calc(var(--header-height) / 2 - 25px);
}

/* TOC */

.toc {
    width: calc(var(--sidebar-width) - 10px);
    /* height: calc(100vh - var(--header-height) - 45px); */
    overflow: scroll;
    left: 0;
    margin: 0;
    font-family: var(--font-ginto-nord-variation-1);
    font-weight: 800;
    font-size: .85rem;
}

.toc::-webkit-scrollbar {
    display: none;
}

.toc .chapter {
    padding: 0;
    padding-left: 10px;
}

.toc .section {
    padding: 0;
    padding-left: 20px;
}

.toc li {
    list-style: none;
    padding: 5px;
}

.toc li strong {
    display: none;
}

.toc li a {
    display: block;
    padding: 10px 0 10px 10px;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    border-radius: 5px;
}

.toc li div {
    color: var(--text-muted);
    padding: 5px 0 5px 10px;
}

.toc li a.active,
.toc li a.active:focus,
.toc li a.active:hover {
    color: var(--text-contrast);
    background-color: var(--brand-color);
}

.toc li a:hover,
.toc li a:focus {
    background-color: rgba(116, 127, 141, 0.2);
}

/* Search */

.search {
    padding-bottom: 10px;
}

.searchbar-outer #searchbar {
    margin-left: 15px;
    display: inline-block;
    width: calc(var(--sidebar-width) - 30px);
    padding: 10px 5px 10px 5px;
    border-radius: 5px;
    border: none;
    background: var(--element);
}

.search #searchresults-outer {
    width: calc(var(--sidebar-width) - 30px);
    max-height: calc(var(--header-height) * 3);
    margin-top: 10px;
    margin-left: 15px;
    padding: 5px;
    overflow: scroll;
    font-family: var(--font-code);
    border: solid 1px var(--element);
    border-radius: 5px;
}

.search #searchresults-outer li {
    list-style: none;
    padding: 5px 0 5px 0;
}

.search #searchresults-outer li a {
    font-family: var(--font-normal);
    font-weight: 700;
    padding: 0 5px 0 0;
}

.search #searchresults-outer li span {
    color: var(--text-muted);
}

/* Settings */

.settings {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    width: 100px;
    height: 30px;
    top: 10px;
    right: 10px;
    border-radius: 7px;
    background: var(--sidebar-background);
    transition: right 0.2s ease-in-out;
}

.settings span {
    color: var(--text-muted);
    font-size: 0.8rem;
    transition: color 0.2s ease-in-out;
}

.setting {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

.setting:hover {
    background-color: var(--element);
}

.setting:hover span {
    color: var(--text-normal);
}

/* Custom elements */

.user {
    display: inline-block;
    background: var(--sidebar-background);
    border-radius: 40px;
    font-size: 0.7rem;
    padding: 5px;
    text-align: center;
    vertical-align: middle;
}

.user b {
    padding-left: 5px;
}

.user span {
    color: var(--text-muted);
    padding-right: 5px;
}

.user .avatar {
    height: 25px;
    width: 25px;
    padding: 0;
    border-radius: 50%;
    vertical-align: middle;
}

.undoc,
.nobot,
.iandeploy {
    display: inline-block;
    position: relative;
    padding: 0;
}

.undoc .material-icons,
.nobot .material-icons,
.iandeploy .material-icons {
    color: var(--text-muted);
    padding: 0;
    font-size: 1em;
}

.undoc .tooltip,
.nobot .tooltip,
.iandeploy .tooltip {
    display: none;
    width: 120px;
    background-color: var(--sidebar-background);
    text-align: center;
    padding: 5px;
    border-radius: 5px;
    font-weight: 300;
    font-size: 0.6rem;

    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translate(-50%, -5px);
}

.undoc:hover .tooltip,
.nobot:hover .tooltip,
.iandeploy:hover .tooltip {
    display: block;
}
