* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: var(--text-normal);
    outline: none;
}

html {
    font-family: var(--font-normal);
}

body {
    background: var(--main-background);
}

code {
    font-family: var(--font-code);
    font-weight: 300;
    font-size: 0.875em;
}

h1 code, h2 code, h3 code, h4 code, h5 code, h6 code {
    font-size: unset;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    color: inherit !important;
}

h1, h2, h3, h4, h5, h6 {
    padding-top: 2rem;
    font-family: var(--font-ginto-nord-variation-1);
}

h1 { font-weight: 900; }
h2 { font-weight: 800; }
h3 { font-weight: 700; }
h4 { font-weight: 600; }
h5 { font-weight: 600; }
h6 { font-weight: 600; }

h1:target::before,
h2:target::before,
h3:target::before,
h4:target::before,
h5:target::before,
h6:target::before {
    display: inline-block;
    content: "{ ";
    font-family: var(--font-code);
    margin-left: -30px;
    width: 30px;
}

.page_contents a {
    color: var(--text-link);
}

/* unvisited link */
a:link {
    text-decoration: none;
}

/* visited link */
a:visited {
    text-decoration: none;
}

/* mouse over link */
a:hover {
    text-decoration: none;
}

/* selected link */
a:active {
    text-decoration: none;
}

table {
    width: 100%;
    border-spacing: 0;
    border-radius: 0.5rem;
    overflow: hidden;
    padding-bottom: 0px !important;
    margin-bottom: 10px;
}

table * {
    padding-bottom: 0 !important;
}

table thead {
    background: var(--table-header-background);
    height: 50px;
    text-align: left;
}

table thead tr th{
    padding: 10px;
    padding-bottom: 10px !important;
    border-bottom: 2px solid var(--table-header-border);
}

table tbody td {
    padding: 10px;
    padding-bottom: 10px !important;
}

table tbody tr:nth-child(even) {
    background: var(--table-row-background-1);
}

table tbody tr:nth-child(odd) {
    background: var(--table-row-background-2);
}

blockquote {
    margin: 10px 0;
    padding-bottom: 0 !important;
    position: relative;
}

blockquote * {
    padding-bottom: 0 !important;
    padding-left: 10px;
}

blockquote::before {
    display: block;
    content: "";
    position: absolute;
    background: var(--block-quote-background);
    width: 2px;
    height: 100%;
    border-radius: 0.5rem;
}

::-moz-selection {
    color: var(--text-contrast);
    background: var(--brand-color);
}
  
::selection {
    color: var(--text-contrast);
    background: var(--brand-color);
}


/* Main CSS */

/* Page container */

.main_page {
    width: 100%;
    background: var(--main-background);
    overflow: hidden;
}

/* Content container */

.page_contents {
    width: calc((100% - var(--page-padding) * 2) - var(--sidebar-width));
    margin-left: calc(var(--page-padding) + var(--sidebar-width));
    transition: width 0.2s ease-in-out, margin-left 0.2s ease-in-out;
}

html.sidebar-hidden .page_contents {
    width: calc(100% - var(--page-padding) * 2);
    margin-left: var(--page-padding);
}

.content * {
    padding-bottom: 10px;
}

.content {
    min-height: calc(100vh - var(--footer-height));
    padding-bottom: 50px;
}

/* Navigation Footer */

.navfooter {
    width: 100%;
    height: var(--footer-height);
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: fit-content;
}

.nav.next {
    float: right;
}

.nav.prev {
    float: left;
}

.nav-title {
    padding: 0 25px 0 25px;
    font-family: var(--font-ginto-nord-variation-1);
    font-size: 1.1rem;
}

.nav-button {
    font-size: 1.5rem;
}

/* Misc */

.hidden {
    display: none !important;
}

.noscrollbar {
    scrollbar-width: none;
}

.noscrollbar::-webkit-scrollbar {
    display: none;
}

* {
    scrollbar-width: thin;
    scrollbar-color: var(--element-contrast) var(--element);
}
  
/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 12px;
}
  
*::-webkit-scrollbar-track {
    background: var(--element);
}
  
*::-webkit-scrollbar-thumb {
    background: var(--element-contrast);
    border-radius: 20px;
    border: 3px solid var(--element);
}

/* Media Queries
(Not in a separate file because i hate additional_css and js lul) */

@media (max-width: 1250px) {
    :root {
        --page-padding: 50px;
    }    
}

@media (max-width: 950px) {
    html.sidebar-visible .page_contents {
        width: calc(100vw - var(--page-padding) * 2);
        margin-left: calc(var(--page-padding) + var(--sidebar-width));  
    }
}

@media (max-width: 750px) {
    .settings {
        width: 30px !important;
    }

    .giturl,
    .editpage {
        display: none !important;
    }

    html.sidebar-visible .settings {
        right: -40px !important;
    }

    .navfooter .nav-title {
        display: none;
    }
}

@media (max-width: 450px) {
    .sidebartoggle {
        z-index: 1;
        left: calc(var(--sidebar-width) - 40px) !important;
    }

    html.sidebar-hidden .sidebartoggle {
        left: 10px !important;
    }
}

@media (max-width: 333px) {
    body * {
        display: none;
    }

    body::after {
        display: block;
        padding: 10px;
        content: "Device TOO small!";
    }
}
