@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@600;700;800;900&family=IBM+Plex+Sans:wght@300;400;500&family=Inter:wght@300;600;700;800;900&display=swap');

/* https://fonts.google.com/share?selection.family=Archivo:wght@600;700;800;900%7CIBM%20Plex%20Sans:wght@300;400;500%7CInter:wght@300;600;700;800;900 */

:root {
    --page-padding: 150px;
    --sidebar-width: 333px;
    --header-height: 100px;
    --footer-height: 100px;
    --brand-color: #5865F2;
    /* 600 700 800 900 */
    --font-ginto-nord-variation-1: 'Archivo', sans-serif;
    /* 300 400 500 */
    --font-code: 'IBM Plex Sans', sans-serif;
    /* 300 600 700 800 900 */
    --font-normal: 'Inter', sans-serif;
}

.light {
    --text-normal: #000000;
    --text-contrast: #FFFFFF;
    --text-muted: #4F5763;
    --main-background: #FFFFFF;
    --sidebar-background: #F2F3F5;
    --element: #FFFFFF;
    --element-contrast: #36393F;
    --code-block-background: #F2F3F5;

    /* Codeblock colors */
    /* From
    https://github.com/highlightjs/highlight.js/blob/70ac79cdbb2bf877d708e4741bf398455f591eaf/src/styles/a11y-light.css */
    --hljs-comment: #696969;
    --hljs-red: #D91E18;
    --hljs-orange: #7A4300; /* #AA5D00 as per the reference theme, tho swithed for a11y reasons */
    --hljs-yellow: #AA5D00;
    --hljs-green: #008000;
    --hljs-blue: #005875; /* #007FAA as per the reference thene, tho switchedd for a11y reasons*/
    --hljs-purple: #7928A1;
}

.dark {
    --text-normal: #FFFFFF;
    --text-contrast: #FFFFFF;
    --main-background: #36393F;
    --text-muted: #C8CBD0;
    --sidebar-background: #2F3136;
    --element: #36393F;
    --element-contrast: #FFFFFF;
    --code-block-background: #2F3136;

    /* Codeblock colors */
    /* From
    https://github.com/highlightjs/highlight.js/blob/70ac79cdbb2bf877d708e4741bf398455f591eaf/src/styles/a11y-dark.css */
    --hljs-comment: #D4D0AB;
    --hljs-red: #FFA07A;
    --hljs-orange: #F5AB35;
    --hljs-yellow: #FFD700;
    --hljs-green: #5AF78E; /* #ABE338 as per the reference theme, tho this one looks better */
    --hljs-blue: #00E0E0;
    --hljs-purple: #DCC6E0;

}
