<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Redirecting...</title>
    <meta http-equiv="refresh" content="0;URL='{{url}}'">
    <meta rel="canonical" href="{{url}}">
</head>

<body>
    <a style="font-family: monospace;" href="{{url}}">meow</a>
</body>

</html>